@page
@model EnergyIndicatorsModel
@{
}
<h1>Llista d'indicadors energetics</h1>

<div class="normal-group, selectDiv">
    <select id="Informe" class="selector-futurista">
        <option value="">Selecciona quines dades vols veure</option>
        <option value="ProduccioSuperior3000">Registres amb produccio neta superior a 3000</option>
        <option value="ConsumGasolinaSuperior100">Registres amb consum de gasolina superior a 100</option>
        <option value="MitjanaProduccioNeta">Mitjana de produccio neta pero any</option>
        <option value="DemandaSuperior4000">Registres amb demanda electrica superior a 4000</option>
    </select>
</div>

<div id="informeFields" style="overflow-x:auto;"></div>
<div class="botonFinal">
    <a asp-page="AddIndicator" class="btn btn-primary, btn-futurista">Afegir nou indicador</a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("Informe").addEventListener("change", function() {
            let informeFields = document.getElementById("informeFields");
            informeFields.innerHTML = "";
            switch (this.value) {
        case "ProduccioSuperior3000":
                    informeFields.innerHTML = `
                        <table class"table">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Produccio neta</th>
                                        <th>Produccio disponible</th>
                                        <th>Demanda electrica</th>
                                        <th>Consum gasolina</th>
                                    </tr>
                                </thead>
                                <tbody>
        @foreach (var indicator in Model.produccioNetaSupTres)
        {
                                    <tr>
                                        <td>@indicator.Data</td>
                                        <td>@indicator.CDEEBC_ProdNeta</td>
                                        <td>@indicator.CDEEBC_ProdDisp</td>
                                        <td>@indicator.CDEEBC_DemandaElectr</td>
                                        <td>@indicator.CCAC_GasolinaAuto</td>
                                        <td><a asp-page="../Delete" asp-route-simulation="@null" asp-route-consume="@null" asp-route-indicator="@indicator.Id" class="btn btn-primary, btn-futurista">Esborra</a></td>
                                            <td><a asp-page="../Update" asp-route-simulationId="@null" asp-route-consumeId="@null" asp-route-indicatorId="@indicator.Id" class="btn btn-primary, btn-futurista">Edita</a></td>
                                    </tr>
        }
                            </tbody>
                        </table>
                    `;
                    break;
             case "ConsumGasolinaSuperior100":
                  informeFields.innerHTML = `
                       <table class"table">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Produccio neta</th>
                                        <th>Produccio disponible</th>
                                        <th>Demanda electrica</th>
                                        <th>Consum gasolina</th>
                                    </tr>
                                </thead>
                                <tbody>
        @foreach (var indicator in Model.consumGasolinaSupCen)
        {
                                        <tr>
                                           <td>@indicator.Data</td>
                                           <td>@indicator.CDEEBC_ProdNeta</td>
                                           <td>@indicator.CDEEBC_ProdDisp</td>
                                           <td>@indicator.CDEEBC_DemandaElectr</td>
                                           <td>@indicator.CCAC_GasolinaAuto</td>
                                           <td><a asp-page="../Delete" asp-route-simulation="@null" asp-route-consume="@null" asp-route-indicator="@indicator.Id" class="btn btn-primary, btn-futurista">Esborra</a></td>
                                           <td><a asp-page="../Update" asp-route-simulationId="@null" asp-route-consumeId="@null" asp-route-indicatorId="@indicator.Id" class="btn btn-primary, btn-futurista">Edita</a></td>
                                        </tr>
        }
                            </tbody>
                        </table>
                   `;
                    break;
            case "MitjanaProduccioNeta":
                   informeFields.innerHTML = `
                        <table class"table">
                            <thead>
                                <tr>
                                    <th>Municipi</th>
                                    <th>Mitja</th>
                                </tr>
                            </thead>
                            <tbody>
        @foreach (var indicator in Model.mitjanaProduccNeta)
        {
                                <tr>
                                    <td>@indicator.Key</td>
                                    <td>@indicator.Value</td>
                                </tr>
        }
                        </tbody>
                    </table>
                    `;
                    break;

            case "DemandaSuperior4000" :
                infromeFields.innerHTML = `
                    <table class"table">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Produccio neta</th>
                                        <th>Produccio disponible</th>
                                        <th>Demanda electrica</th>
                                        <th>Consum gasolina</th>
                                    </tr>
                                </thead>
                                <tbody>
        @foreach (var indicator in Model.demandaEleSupCuatr)
        {
                                            <tr>
                                                <td>@indicator.Data</td>
                                                <td>@indicator.CDEEBC_ProdNeta</td>
                                                <td>@indicator.CDEEBC_ProdDisp</td>
                                                <td>@indicator.CDEEBC_DemandaElectr</td>
                                                <td>@indicator.CCAC_GasolinaAuto</td>
                                                <td><a asp-page="../Delete" asp-route-simulation="@null" asp-route-consume="@null" asp-route-indicator="@indicator.Id" class="btn btn-primary, btn-futurista">Esborra</a></td>
                                                <td><a asp-page="../Update" asp-route-simulationId="@null" asp-route-consumeId="@null" asp-route-indicatorId="@indicator.Id" class="btn btn-primary, btn-futurista">Edita</a></td>
                                            </tr>
        }
                            </tbody>
                        </table>
                    `;
                    break;
        }});
    </script>
}